<link href="~/css/home.css" rel="stylesheet">
<script src="~/js/home.js"></script>



<div id="landing">
    <img id="background-image" src="~/images/Forest.jpeg"/>
    <div id="parallax">
        <img class="fade-in" id="logo" src="~/images/Logo.png" />
        <partial name="_SiteNav">
    </div>
</div>