/*
    === ENTIRE SITE ===
*/

h1, h2, h3, h4, h5, li, p {
    font-family: 'Open Sans', sans-serif;
}

#site-nav {
    padding-top: 15px;
    margin: auto;
    text-align: center;
}

#site-nav > a {
    font-family: 'DM Mono', monospace;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 3px;
    color: white;
    margin: 15px;
    text-decoration: none;
}

#site-nav > a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f1f5f0;
    transition: width .3s;
}

#site-nav > a:hover::after {
    width: 100%;
    transition: width .3s;
}

